.pagination {
  display: flex;
  flex-direction: row;
  padding: 1%;
}
.ul {
  border: 1px solid brown;
  background-color: burlywood;
  margin-left: 2%;
  width: 2%;
  text-align: center;
  cursor: pointer;
}
